html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    font-family:sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #7a1501;
    font-size: 1.6rem;
    display: block;
}


header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 8rem;
    display: block;
       
}

#header_wrap{
    margin: 0;
    padding: 0;
    width: 80%;
    height: auto;
    display: block;
    
}

#geek_logo{
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 22%;
    height: 100%;
    display: block;
    background-image: url(http://i.imgur.com/86TsPmf.png);
    background-repeat: no-repeat;
    background-position: right;
    
    
}

nav{
    margin: 0 auto;
    padding: 0;
    width: 78%;
    height: 100%;
    float: right;
    display: inline-block; 
    
}

nav > ul{
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;

}

nav > ul > li{
    text-align: center;
    padding: 0;
    margin-left: 1.1rem;
    width: calc(80%/7);
    float: left;
    height: 5rem;
    line-height: 5rem;
    list-style-type: none;
    font-weight: bold;
    display: block;
    font-size: 1.5rem;
    
}

.links{
    text-decoration: none;
    color: #fff;

}
/* "contact" nav bar */

#letter_yellow{
    color: #f9da0c;
    text-decoration: none;
    
}

/* "signup" nav bar*/

nav > ul > li:nth-of-type(7){
    background-color: #f9da0c;
    
}

#signup{
    color: #7a1501;
    text-decoration: none;
}

/* mouse over link */

.links:hover{
    color: #f9da0c;
}

/* selected link */

.links:active{
    color: #f9da0c;
}


main{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 100%;
    display: block;
    position: fixed;
    background-image: url(http://i.imgur.com/ewBQdOp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

#text-img_wrap{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 65rem;
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    
}

#text-img{
    margin: 0 auto;
    padding: 0;
    width: 25%;
    min-height: 36%;
    display: block;
    position: relative;
    text-align: center;
    background-color: #fff;
    
}

#text-img > span{
    margin: 1.5rem 0 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    font-weight: bold;
}

#text-img > p{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

#text-img > p > a{
    position: relative;
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

@media only screen and (min-width:781px){
    #fafa{
        display: none;
    }
    
    input{
        display: none;
}
}

@media only screen and (max-width:780px){
    
    header{
        display: block;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
    
    nav{
        display: none;
    }
    
    #label_wrap{
        display: block;
        text-align: right;
        
    }
    
    label{
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 0;
        width: auto;
        height: auto;
        cursor: pointer;
        visibility: visible;
        color: #888888;
        border: solid .1rem;
        border-radius: .4rem;
        opacity: .7;

    }
    
    #toggle-1{
       display: none;
    
}
    
    #toggle-1:checked~nav{
        position: relative;
        display: block;
        width: 100%;
        height: 10rem;
        
    }
    

    .media > li{
        display: block;
        height: auto;
        width: 100%;
        margin: 0 auto;
        float: left;
        transform: scale(.8);
    }

}
