html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    font-family: "iria";
    font-family: "franchise";
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    font-size: 1.6rem;
    display: block;
}

header{
    position: relative;
    width: 100%;
    height: 20%;
    display: block;
}

nav{
    position: relative;
    width: 80%;
    height: auto;
    display: block;
}

nav > ul{
    width: 100%;
    height: 0;
    display: block;
}

nav > ul > li{
    padding: 0;
    margin-top: 2.5rem;
    margin-right: .3rem;
    width: calc(60%/7);
    height: 5rem;
    line-height: 5rem;
    float: left;
    list-style-type: none;
    color: #000000;
    font-weight: bold;
    font-family: serif;
    display: block;
    
}

nav > ul > li > a{
    text-decoration: none;
}

nav > ul > li:nth-of-type(3){
    margin-right: .5rem;  
}

/* sign up nav box*/

nav > ul > li:nth-of-type(5){
    font-weight: normal;
    background-color: #f9da0c;
    
}

/* mouse over link */

nav > ul > li:hover{
    background-color: #f9da0c;
}

/* selected link */

nav > ul > li:active{
    background-color: #f9da0c;
}

main{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 60%;
    display: block;
   
}


footer{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 20%;
    display: block;
}

/* class section */

.center{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: block;
}

/* id section */

#mid_logo{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height:auto;
    background-color: #ffffff;
}
#mid_text{
    position: relative;
    margin-top: .5rem;
    padding-top: 2rem;
    width: 100%;
    height:20rem;
    font-family: monospace;
    background-color: #7a1501;
    color: #ffffff;
}

#mid_text > h2{
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: -.09rem;
}

h3{
    font-size: 2.7rem;
    font-weight: bolder;
    font-family: monospace;
    letter-spacing: -.05rem;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

#bottom{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    
}

#bottom > ul > li{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: calc(100%/3);
    height: auto;
    float: left;
    display: block;
    
}

#bottom > ul > li > span{
    margin: 0 auto;
    display: block;

}
