html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    font-family:sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #7a1501;
    font-size: 1.6rem;
    box-sizing: border-box;
}


.header1{
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 100%;
    height: 12rem;
    background-color: #fff;
    text-align: center;

}

.nav1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

.list1{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.list-item{
    margin: 0;
    padding: 0;
    width: 7rem;
    height: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    font-size: 1.4rem;
    font-weight: bold;
    
}

.list-item > a{
    text-decoration: none;
}

/* sign up nav box*/

nav > ul > li:nth-of-type(5){
    font-weight: normal;
    background-color: #f9da0c;
    
}

/* mouse over link */

nav > ul > li:hover{
    background-color: #f9da0c;
}

/* selected link */

nav > ul > li:active{
    background-color: #f9da0c;
}

main{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    background-color: #ffffff;
   
}


.center{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#geekwise_img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;   
}

#mid_logo{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height:auto;
    margin-bottom: .5rem;
}

#mid_text{
    margin: 0 auto;
    padding-top: 2.5rem;
    width: 100%;
    height: 25%;
    background-color: #7a1501;
    color: #ffffff;
}

#mid_text > h2{
    font-family: "Francois One";
    font-size: 2.4rem;
    font-weight: bold;
    font-stretch: ultra-expanded;

}

h3{
    font-family: "Cinzel";
    font-size: 2.4rem;
    font-stretch: extra-expanded;
}

#divider{
    width: 80%;
    margin: 3rem auto;
    border-bottom: 1px solid white;
    font-size: .1rem;
    height: 1px;
    overflow: hidden;
}

footer{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 15rem;
    display: block;
    background-color: #7a1501;
    
}

#bottomlogos{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 15rem;
    display: block;
}

#bottomlogos > li{
    margin: 0 auto;
    padding: 0;
    width: calc(100%/5);
    height: auto;
    display: inline-block;
    text-align: center;
}

#bottomlogos > li:nth-of-type(even){
    border-right: .1rem solid #ffffff;
    width: 1%;
    height: 60%;
    
}

#bottomlogos > li > span{
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
    color: #ffffff;
    
}

    #fafa{
        display: none;
    }
    
    input{
        display: none;
}

/*

@media only screen and (min-width:781px){
    #fafa{
        display: none;
    }
    
    input{
        display: none;
}
}

@media only screen and (max-width:780px){
    
    header{
        display: block;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
    
    nav{
        display: none;
    }
    
    #label_wrap{
        display: block;
        text-align: right;
        width: 100%;
        
    }
    
    label{
        position: relative;
        display: block;
        margin: 1rem 1.5rem 0 auto;
        padding: 0;
        width: auto;
        height: auto;
        cursor: pointer;
        visibility: visible;
        color: #888888;
        border: solid .1rem;
        border-radius: .4rem;
        opacity: .7;

    }
    
    #toggle-1{
       display: none;
    
}
    
    #toggle-1:checked~nav{
        position: relative;
        display: block;
        width: 100%;
        height: 10rem;
        
    }
    

    .media > li{
        display: block;
        height: auto;
        width: 100%;
        margin: 0 auto;
        float: left;
        font-weight: bold;
        font-size: 1.3rem;
    }

}*/
